.paragraph {
   color: darkblue;
   font-family: monospace;
   font-size: 20px;
   margin-left: 5%;
   margin-top: 5%;
}

.list {
   color: lightblue;
   font-family: monospace;
   font-size: 15px;
   margin-left: 5%;
   margin-top: 2%;
}

.header {
    display: flex;
    margin: 10%;
    justify-content: center;
    color: black;
    font-family: monospace;
    font-size: 20px;
}

/*
.main {
    background-image: url("/static/img/digital-visualization-of-data-flow-and-formation-of-neural-networks-database-processing-2J6E92A.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
*/