{% extends "base.html" %}

{% block content %}
    <p class="paragraph">
        About me:
    </p>
    {% for item in aboutList %}
    <ul class="list">
        <li>{{item}}</li>
    </ul>
    {% endfor %}

    {% if name %}
    <p class="paragraph">Hello {{ name }}</p>
    {% endif %}
    <form method="post" action="/aboutMe">
        <input type="text" name="contact-email" placeholder="Enter Your Email...">
        <br>
        <input type="text" name="contact-name" placeholder="Enter Your Name...">
        <textarea type="text" name="contact-message" placeholder="Enter a message..."></textarea>
        <button>Send Message</button>
    </form>

{% endblock content %}