{# Jinja #}
{% extends "base.html" %}\

{% block content %}
<div class="paragraph">
    <h1>Chat App</h1>

    <p>
        {% for message in messages %}
    </p>
    <p>
        <strong>{{ message.author }}</strong>
        {{ message.text }}
    </p>
    {% endfor %}
    <hr>
    <form method="post" action="/add-message">
        Your name: <br><input name="chat-name" type="text"><br>
        Your Message: <br><textarea name="chat-message"></textarea><br>
        <button type="submit">Send Message</button>
    </form>
</div>
{% endblock content %}